# STAC v1.1.0 compatibility

[STAC v1.1.0](https://github.com/radiantearth/stac-spec/releases/tag/v1.1.0) was released September 2024.
This repository tracks the software ecosystem's update of the new release.

**NOTE**: As of 2024-09-25 this repo is under construction as new repositories are added.
If you'd like to see a repository added, please open [an issue](https://github.com/gadomski/stac-v1.1.0-compatability/issues).

## Repository

| Name | Version | Description | Read | Write | Notes |
| -- | -- | -- | -- | -- | -- |
{% for repository in repositories -%}
| [{{ repository.name }}]({{ repository.url }}) | {{ repository.version }} | {{ repository.description }} | {{ repository.read | emoji }} | {{ repository.write | emoji }} | {{ repository.notes }} |
{% endfor %}
## Usage

```shell
pip install -r requirements.txt
python render.py
```
