# STAC v1.1.0 compatibility

[STAC v1.1.0](https://github.com/radiantearth/stac-spec/releases/tag/v1.1.0) was released September 2024.
This repository tracks the software ecosystem's update of the new release.
If you'd like to see a repository added, please open [an issue](https://github.com/gadomski/stac-v1.1.0-compatability/issues).

## Repository

| Name | Version | Language | Description | Read | Write | Notes |
| -- | -- | -- | -- | -- | -- | -- |
{% for repository in repositories -%}
| [{{ repository.name }}]({{ repository.url }}) | {{ repository.version }} | {{ repository.language }} | {{ repository.description }} | {{ repository.read | emoji }} | {{ repository.write | emoji }} | {{ repository.notes }} |
{% endfor %}
## Usage

```shell
pip install -r requirements.txt
pre-commit run --all-files
```

**stac-server**, **pgstac**, and **stac-browser** were tested manually.
The rest of the packages are updated dynamically on a `render.py` run.
